body{
  overflow-x: hidden;
  overflow-y: scroll;
}

.sideScreenContainer{
  padding: 30px;
  /* background-color: #098193; */
  min-height: 100vh;
}

.siteTitle{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
}

.movieCategories{
  margin-top: 20px;
}

.browserText{
  margin-top: 10px;
  color: aliceblue;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

.sideScreenHeaders{
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #bcc3cf;
}

.mainScreenContainer{
  padding: 40px;
}

.leftHeader{
  flex:15
}

.rightHeader{
  flex:2
}

.profileImage{
  width: 100px;
  height: 100px;
  border-radius: 80px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 30px;
}

.cardContainer{
  width: 18rem;
  height: 33rem;
  margin-left:40px;
  margin-top:30px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  padding: 20px;
}

.cardContainer:hover{
  transition: 15s;
  width: 19rem;
  height: 35rem;
}

.elip{
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-align: center;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
}

.cardImageContainer{
  width: 250px;
  height: 290px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.imageContainer{
  width: 250px;
  height: 270px;
}

.formText{
  font-family: 'Montserrat', sans-serif;
}

.moreDetailsImageContainer{
  width: 450px;
  height: 590px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 5px; */
}

.moreDetailsImage{
  width: 450px;
  height: 490px;
}

.moreDetailsInformationContainer{
  margin-top: 60px;
}

.movieDetailsDescription{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  /* background-color: aqua; */
  max-width: 80ch;
  font-family: 'Montserrat', sans-serif;
}





@media screen and (max-width: 1000px) {
  .sideScreenContainer{
    padding: 10px;
    height: 100vh;
  }

  .sideScreenHeaders{
    margin-top: 20px;
    font-size: 12px;
    font-weight: bold;
    color: #bcc3cf;
  }

  .leftHeader{
    flex:9
  }
  
  .rightHeader{
    flex:3
  }

  .moreDetailsImageContainer{
    width: 150px;
    height: 290px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
  
  .moreDetailsImage{
    width: 150px;
    height: 290px;
  }


.moreDetailsInformationContainer{
  margin-top: 50px;
}

.movieDetailsDescription{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  /* background-color: aqua; */
  max-width: 80ch;

}

.cardContainer{
  width: 14rem;
  height: 33rem;
  margin-left:20px;
  margin-top:30px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  padding: 20px;
}

.cardContainer:hover{
  width: 15rem;
  height: 32rem;
}

.cardImageContainer{
  width: 160px;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

/* .tooltipContainer{
  margin-bottom: 5px;
} */
}